.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: auto;
}

.more {
  margin-top: 1rem;
  width: 250px;
  justify-self: center;
  grid-column: 1 / span 3;
  font-size: 1.1rem;
  position: relative;
}
.btnLink{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


/* ****** MEDİUM DEVİCES ****** */

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  .more {
    grid-column: 1 / span 2;
  }
}

/* ****** SMALL DEVİCES ****** */

@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 90%;
  }

  .more {
    grid-column: 1 / span 1;
  }
}
